/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(2.4rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --special-color: #906227;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
  font-family: "Vibes", sans-serif;
}

li,
button,
input,
label,
p,
a {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Ruhl", sans-serif; /*using sans serif to if any problem in the font*/
  animation: plant-apiare 1s ease-in-out; /*Calling Animation to Aplay in the Plant Image*/
}

/*MAIN HERD SECTION ####################################################################################################*/
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  /*           x   y   blure    */
  z-index: 2;
  position: relative;
  /*when I create linear background to the image that some of navbar shadow is disapeared, 
  then I do z-index: 2 to go to front the shadow and possitoin relative to relative in the first state*/
}
#logo {
  flex: 1 1 20rem;
}
nav {
  width: 90%; /*using % to work with Screen Size*/
  margin: auto; /*to Auto margain in the Right and Left of the Screen*/
  min-height: 10vh;
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}
nav ul {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-around;
}

.hero {
  width: 95%; /*90vh = 90%*/
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-introduction {
  flex: 1 1 40rem;
  text-align: center;
}
.hero-introduction p {
  padding: 5rem 2rem;
}
.hero-introduction h2 {
  padding: 3rem;
}
.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px black solid;
  margin-bottom: 4rem;
}
.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(
    #dad8dd,
    #dad1d4
  ); /*my image is transparent background I will make my background to it*/
  position: relative;
  z-index: 1;
  overflow: hidden; /*to can not scroll the screen*/
}

.elena {
  width: 100%;
  height: 100%;
  object-fit: cover; /*to not compresing the picture, to fit the picture in the cover area*/
  z-index: 1;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  /* transform: translateY(10%) rotateZ(-10deg) rotate(-90deg); */
  animation: plant-entrance 0.5s ease-in-out 0.5s forwards;

  /* animation: plant-entrance 0.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s; */
}
.plant-1 {
  left: 50%;
  width: 60%;
  height: 40%;
}
.plant-2 {
  left: 0%;
  bottom: 20%;
  width: 100%;
  height: 100%;
}

/*ANIMATION  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@keyframes plant-opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes plant-entrance {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}

/*to Shake the planet*/
/* @keyframes plant-shake {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    ransform: rotateZ(0deg);
  }
} */
